*{
  padding: 0px;
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
}

nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: space-around;
}

nav > a {
  color: #ff6be4;
  text-decoration: none;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 48pt;
  font-style: bold;
  padding-bottom: 10px;
}

nav > a:hover{
  color: white;
  text-decoration: none;
  display: flex;
  align-self: center;
}

body{
  background-color: black;
  color: #ff6be4;
}

div img{
  width: 100%;
  padding-top: 2vmin;
}

.col1{
  display: grid;
  grid-column-end: span 3;
}

.photo{
  display: grid;
  justify-content: center;
  align-self: center;
  /* grid-column-start: 3; */
  grid-column-end: span 3;
  /* width: 50%; */
  /* width: 150vmin; */
  height: auto;
  padding-bottom: 10px;
  border: dashed;
}

/*make each of the pictures even and into a nice grid*/
.portrait{
  display: grid;
  justify-content: space-around;
  /* flex-wrap:wrap; */
   grid-column-end: span 1;
  /* width: 23%;*/
}

.portaitContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 2vmin;
  grid-column-gap: 2vmin;
  overflow: hidden;
  align-content: center;
  /* outline: solid; */
  justify-items: center;
}

h1{
  /* padding-right: 50px; */
  /* padding-left: 50px; */
  text-align: center;
  font-style: bold;
  grid-column-end: span 6;
}

/*what each text-heavy part has*/
.content{
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  font-size: 18pt;
  display: inline-grid;
  justify: center;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  align-items: center;
  border: 5px solid #ff6be4;
  border-radius: 50px;
}

.para {
  display: grid;
  grid-column-end: span 3;
  padding: 15px;
}

/*make sure nothing changes with the link properties*/

.portraitContainer > a{
  /* width: 24.5%; */
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border: 0;
}

.portaitContainer > a:hover{
  /* width: 24.5%; */
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border: 0;
}

.portaitContainer > a:active{
  /* width: 24.5%; */
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border: 0;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ff6be4;
  text-decoration: none;
  display: flex;
  align-self: center;
  font-size: 48pt;
  font-style: bold;
  padding-bottom: 10px;
  justify-content: center;
}

.popup:hover{
  color: white;
}

.popuptext{
  font-size: 24pt;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  background-color: #ff6be4;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: -95%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

span > a{
  color:#fdd6ff;
  text-decoration: none;
}

span > a:hover{
  color:white;
  text-decoration: none;
}

span > a:visited{
  color:#fdd6ff;
  text-decoration: none;
}

span > a:active{
  color:#fdd6ff;
  text-decoration: none;
}

@media only screen and (min-width : 768px) {
  .portaitContainer{grid-template-columns: repeat(1, 1fr); grid-column-gap: 0vmin;}
  .portrait{width: 100%;}
  .para{grid-column-end: span 5;}
  .content{padding-left: 0px; padding-right: 0px; grid-template-columns: repeat(1, 1fr);}
  nav{grid-template-columns: repeat(1,1fr); grid-row-gap: 2vmin;}
  nav>a{align-self: center; border: 5px solid #ff6be4; border-radius: 50px;}
  .popup .popuptext{left:12%;}
  .popup{border: 5px solid #ff6be4; border-radius: 50px;}
}

/* @media only screen and (min-width:992px){
  .portaitContainer{grid-template-columns: repeat(4, 1fr); grid-column-gap: 2vmin;}
  .portrait{}
  .para{grid-column-end: span 5;}
  .content{padding-left: 0px; padding-right: 0px; grid-template-columns: repeat(1, 1fr);}
  nav{grid-template-columns: repeat(1,1fr); grid-row-gap: 2vmin;}
  nav>a{align-self: center; border: 5px solid #ff6be4; border-radius: 50px;}
  .popup .popuptext{left:12%;}
  .popup{border: 5px solid #ff6be4; border-radius: 50px;}
} */
